*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.logo img{
    width: 200px;
}

ul li a{
    text-decoration: none;
    padding: 0px 20px;
    color: black;
    display: inline-block;
}

li a::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: rgb(67, 201, 194);
    transition: all .5s;
}

li a:hover::after{
    width: 100%;
} 

.Sign-btn{
    background: rgb(67, 201, 194);
    padding: 15px 30px;
    border-radius: 50px;
    color: white;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
}

main img{
    max-width: 700px;
    height: auto;
}

.left-side{
    width: 25%;
}

main h1{
    font-size: 50px;
    color: rgb(23, 27, 41);
    font-weight: 900;
}

main h2{
    font-size: 25px;
    color: rgb(197, 166, 26);
    letter-spacing: 6px;
    line-height: 50px;
    font-weight: bolder;
}

main p{
    line-height: 32px;
    font-weight: bolder;
}

main button{
    padding: 15px 30px;
    background: rgb(67, 201, 194);
    list-style: none;
    border-radius: 50px;
    margin-top: 15px;
    border: none;
    outline: none;
}

button a{
    text-decoration: none;
    color: white;
}